@media (max-width: 1199px)
{
    html{
        font-size: 8px;
    }
    
}
@media (max-width: 991px)
{
    html{
        font-size: 7px;
    }
    .visible-lg{
        display: none;
    }
    .m-menu-link{
        display: block;
    }
    .get_started_button{
        margin: 0;
        text-transform: uppercase;
    }
    .price-tags{
        flex-direction: column;
    }
    .price-tag{
        margin: 2rem auto;
    }
    .visible-lg-footer{
        display: none;
    }
    .footer{
        justify-content: center;
    }
    .social a{
        font-size: 3rem;
    }
    .legal{
        flex-direction: column;
        padding-bottom: 5rem;
    }
}