*, *:before, *:after {
    box-sizing: border-box;
}
/*@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@100;200;300;400;500;600;800;900&display=swap);*/
html{
    font-size: 10px;
}
body {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
}
.main{
    color: #fff;
    height: 100vh;
    min-width: 600px;
    background: url(../img/bg-img.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.logo{
    display: flex;
    align-items:center;
}
.logo_img{
    width: 48px;
    height: 48px;
}
.logo_text{
padding-left: 10px;
font-family: MavenPro;
font-size: 3rem;
line-height: 29px;
font-weight: 700;
letter-spacing: 0.2em;
color: #fff;
}
.menu{
    width: 60%;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.4rem;
}
.menu_link{
    
    text-decoration: none;
    color: #fff;
}
.get_started_button{
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: 60px;
}
.main-header-text{
    text-align: center;
}
.main-header-text p{
    font-size: 1.4rem;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
}
.main-header-text h1{
    font-size: 9rem;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0.5rem;
}
.main-header-text span{
    display: inline-block;
    font-size: 1.4rem;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 1.8rem;
}
.main-header-text p::after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.main-header-text p::before{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.main-arrow{
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.arrow-down{
    padding-top: 17px;
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 19px 2px
}
.table{
    background-color: #f9fafc;
    padding: 115px;
}
.table-header{
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
}
.table-header span{
    font-size: 1.4rem;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #9fa4af;
}
.table-header span::after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.table-header span::before{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.table-header h2{
    font-size: 6rem;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #4f4f6f;
    margin: 0;
}
.table-header p{
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: 400;
    color: #9fa4af;
    display: inline-block;
    width: 375px;
}
.price-tags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.price-tag{
    padding: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 440px;
    height: 648px;
    background-color: #ffffff;
    border: 1.0px solid #d7dbe8;
    border-radius: 30.0px;
    transition: 0.5s;
}
.price-tag img{
    text-align: center;
    width: 108px;
    height: 94px;
}
.price-tag:hover{
    cursor: pointer;
    box-shadow: 0px 0px 82px 10px rgba(203,203,223,0.7);
}
.price-tag span{
    font-size: 1.4rem;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #9fa4af;
}
.price-tag h4 {
    margin: 0;
    font-size: 4rem;
    color: #4f4f6f;
    font-weight: 500;
}
.price-tag h4 sub{
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
.price-tag h4 sup{
    font-size: 1.4rem;
	vertical-align: super;
	margin-right: 0.3rem;
}
.price-tag p{
    font-size: 1.6rem;
    color: #9fa4af;
}
.price-button{
    box-shadow: 0px 0px 19px 2px rgba(203,203,223,0.5);
    text-transform: uppercase;
    width: 180px;
    font-weight: 700;
    height: 45px;
    color: #c2c9db;
    background-color: #ffffff;
    border: 1.0px solid #d7dbe8;
    border-radius: 25.0px;
    transition: 0.2s;
    outline: none;
}
.price-button:hover{
    background-color: #6e45e2;
    color: #ffffff;
}
.btn-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.control-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 522px;
    background-image: url(../img/background_155.png);
    background-color: #f9fafc;
}
.control-data h2{
    margin: 0;
    font-size: 6rem;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.btn-control-data{
    box-shadow: 0px 0px 19px 2px rgba(203,203,223,0.5);
    font-size: ;
    margin-left: 10px;
    text-transform: uppercase;
    width: 180px;
    font-weight: 700;
    height: 45px;
    color: #c2c9db;
    background-color: #ffffff;
    border: 1.0px solid #d7dbe8;
    border-radius: 25.0px;
    transition: 0.2s;
    outline: none;
}
.btn-control-data:hover{
    background-color: #6e45e2;
    color: #ffffff;
}

.footer-wrap{
    display: flex;
    justify-content: center;
}
.footer{
    width: 90%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
.footer-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer li{
    margin-left: 55px;
}
.footer-menu_link_first{
    font-size: 1.6rem;
    line-height: 19px;
    font-weight: 500;
    color: #756edc;
    text-decoration: none;
}
.footer-menu_link{
    font-size: 1.6rem;
    line-height: 19px;
    font-weight: 500;
    color: #6a6a77;
    text-decoration: none;
}
.footer-logo_text{
    font-size: 3rem;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #37374a;
    margin-left: 15px;
}
.footer-get-menu_link{
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    background-color: #6e45e2;
    color: #ffffff;
    border: 1.0px solid #d7dbe8;
    border-radius: 100px;
    transition: 0.2s;
}
.line {
    display: block;
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}
.copy p{
    opacity: 0.5;
    font-size: 1.4rem;
    line-height: 19px;
    font-weight: 500;
    color: #6a6a77;
}
.legal{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a{
    opacity: 0.5;
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.6rem;
    line-height: 19px;
    font-weight: 400;
    color: #6a6a77;
    margin-right: 10px;
}

.m-menu-link {
    display: none;
    color: #fff;
    font-size: 3rem;
}
.m-menu{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 3rem;
    line-height: 8rem;
    background-color: #6e45e2;
    margin: 0;
    z-index: 99;
    transition: 0.2s;
    transform: translateX(100%);
}
.m-menu-active{
    transform: translateX(0%);
}
.close_menu{
    position: fixed;
    right: 5rem;
    top: 5rem;
    font-size: 5rem;
    
}
.close_menu:hover{
    cursor: pointer;
}